# Ignore the directory .vscode
.vscode/

# Ignore the /Config/dev.ini file
/Config/dev.ini

# Ignore all PDF and Markdown files beginning by "tp"
tp*.pdf
tp*.md

# Ignore all image files in /public/img/
/public/img/*.jpg
/public/img/*.png

# Do not ignore these image files
!/public/img/search-icon.png
!/public/img/edit-icon.png
!/public/img/delete-icon.png