body {
    background-color: #f8f9fa;
    font-family: 'Arial', sans-serif;
}

.navbar {
    background: linear-gradient(135deg, #4e73df, #224abe);
}

.navbar-nav .nav-link {
    color: #f8f9fa;
    font-size: 1rem;
    margin: 0 10px;
}

.navbar-nav .nav-link:hover {
    color: white;
    text-decoration: underline;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgb%28255, 255, 255' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-toggler-icon.active {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgb%28255, 255, 255' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 4L26 26M26 4L4 26'/%3e%3c/svg%3e");
}

.mobile-nav {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    transition: left 0.3s ease;
    z-index: 999;
    display: none;
}

.mobile-nav.show {
    left: 0;
}

.mobile-nav button {
    margin: 10px;
}

.mobile-nav ul {
    margin-top: 20px;
    padding: 0 10px;
}

.mobile-nav ul li {
    margin: 20px 0;
}

.mobile-nav ul li a {
    color: #f8f9fa;
    text-decoration: none;
}

.mobile-nav ul li a:hover {
    color: white;
    text-decoration: underline;
}

@media (max-width: 992px) {
    .mobile-nav {
        display: block;
    }
}

@media (min-width: 1700px) {
    .container {
        max-width: 1600px;
    }
}

@media (min-width: 1850px) {
    .container {
        max-width: 1760px;
    }
}

#attribute {
    box-shadow: none;
    border: none;
    border-right:  var(--bs-border-width) solid var(--bs-border-color);
    flex: none;
    width: min-content;
}

#search {
    box-shadow: none;
    border: none;
    border-left:  var(--bs-border-width) solid var(--bs-border-color);
}

#search-button {
    border: none;
    background-color: #fff;
}

.input-group {
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.input-group:focus-within {
    border-color: #86b7fe;
    box-shadow: 0 0 0 .25rem rgba(13,110,253,.25)
}

.card {
    border: none;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.card-body {
    background-color: #ffffff;
    padding: 15px;
    position: relative;
}

.card-buttons {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}


.button-icon {
    width: 20px;
    height: 20px;
    filter: invert(1) brightness(0.33);
}

.button-icon:hover {
    filter: none;
}

.card-img-top {
    object-fit: cover;
    object-position: top;
    height: 200px;
}

.card-title {
    font-size: 1.25rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 0.8rem;
}

.card-text {
    font-size: 1rem;
    color: #555;
    margin-bottom: 0px;
}

.card:hover {
    transform: scale(1.05);
}

.origins-container {
    display: flex;
}

.origins-items {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.origin-item {
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.origin-img {
    width: 30px;
    height: 30px;
    vertical-align: middle;
    margin-left: 12.45px;
    margin-right: 5px;
    filter: brightness(0.33);
}

.custom-img {
    filter: none;
}

.notification {
    position: fixed;
    top: 20px;
    left: 20px;
    max-width: calc(100% - 40px);
    background-color: rgba(51, 51, 51, 0.95);
    color: white;
    padding: 15px;
    border-radius: 10px;
    border: 2px solid green;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    animation: fadeIn 0.5s;
}

.notification.error {
    border-color: red;
}

.notification.fade-out {
    animation: fadeOut 0.5s forwards;
}

.notification .close-btn {
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
    margin-left: 10px;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-20px); }
    to { opacity: 1; transform: translateY(0); }
}

@keyframes fadeOut {
    from { opacity: 1; transform: translateY(0); }
    to { opacity: 0; transform: translateY(-20px); }
}