html {
    overflow-y: scroll;
}

body {
    background-color: #f8f9fa;
    font-family: 'Arial', sans-serif;
}

.navbar {
    background: linear-gradient(135deg, #4e73df, #224abe);
}

.navbar-nav .nav-link {
    color: #f8f9fa;
    font-size: 1rem;
    margin: 0 10px;
}

.navbar-nav .nav-link:hover {
    color: white;
    text-decoration: underline;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgb%28255, 255, 255' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-toggler-icon.active {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgb%28255, 255, 255' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 4L26 26M26 4L4 26'/%3e%3c/svg%3e");
}

.mobile-nav {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    transition: left 0.3s ease;
    z-index: 999;
    display: none;
}

.mobile-nav.show {
    left: 0;
}

.mobile-nav button {
    margin: 10px;
}

.mobile-nav ul {
    margin-top: 20px;
    padding: 0 10px;
}

.mobile-nav ul li {
    margin: 20px 0;
}

.mobile-nav ul li a {
    color: #f8f9fa;
    text-decoration: none;
}

.mobile-nav ul li a:hover {
    color: white;
    text-decoration: underline;
}

@media (max-width: 992px) {
    .mobile-nav {
        display: block;
    }
}

@media (min-width: 1700px) {
    .container {
        max-width: 1600px;
    }
}

@media (min-width: 1850px) {
    .container {
        max-width: 1760px;
    }
}


.card {
    border: none;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.card-body {
    background-color: #ffffff;
    padding: 15px;
    position: relative;
}

.card-buttons {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}


.button-icon {
    width: 20px;
    height: 20px;
    filter: invert(1) brightness(0.33);
}

.button-icon:hover {
    filter: none;
}

.card-img-top {
    object-fit: cover;
    object-position: top;
    height: 200px;
}

.card-title {
    font-size: 1.25rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 0.8rem;
}

.card-text {
    font-size: 1rem;
    color: #555;
    margin-bottom: 0px;
}

.card:hover {
    transform: scale(1.05);
}

.origin-img {
    width: 30px;
    height: 30px;
    vertical-align: middle;
    margin-left: 12.45px;
    margin-right: 2px;
    filter: brightness(0.33);
}